---
description: Guide on verifying your purchase(s)
---

# Verify your purchase

In order for you to verify any purchases, you must follow a few steps. You must \(re\)do this for every of our plugins you purchase at the same time. This applies to EpicWorldGenerator, EpicNetherGenerator, \(EpicEndGenerator once it releases,\) or any combination of these.

#### Steps

1. [ ] Log into your [SpigotMC](https://www.spigotmc.org) account.
2. [ ] Go to [Discord](https://discord.com/) and copy your Discord ID 

{% hint style="danger" %}
> This is not the same as your discord TAG, but rather an 18 digit number.
{% endhint %}

{% hint style="info" %}
> You can find your Discord ID by enabling developer mode \(found under `Settings -> Appearance -> Advanced -> "Developer Mode"`\), right clicking on your name \(on any message in discord\) and clicking "Copy ID".
{% endhint %}

* [ ] Paste the discord ID in your [Spigot Status](https://www.spigotmc.org/account/) \(at the top\) and hit `enter`.
* [ ] Go to our [Discord](https://discordapp.com/channels/576841187256827905/588109256377499667/) \(should take you to the [\#verify-purchases](https://discordapp.com/channels/576841187256827905/588109256377499667/) channel\).
* [ ] Post a message using the following format \(copy-pasting this is the easiest\):

  > Remove the plugins you **did not** purchase. Replace yourAccount.yourID with your spigot account name and ID, respectively.
  >
  > ```text
  > **Plugins:** [EpicWorldGenerator, EpicNetherGenerator or EpicEndGenerator]
  > **Spigot Profile Page:** https://www.spigotmc.org/members/yourAccount.yourID/
  > ```

* [ ] Wait for a staffmember to verify you as a legitimate buyer. 

{% hint style="success" %}
> Please allow for at least 2 days before pinging or DM-ing any staff to verify you.
{% endhint %}

#### Example

A correct verification looks as follows;   
_This is for the spigot account named DynamicBytes, which has discord ID 012345678910111213 and purchased only EpicWorldGenerator._

```text
Plugins: [EpicWorldGenerator]
Spigot Profile Page: https://www.spigotmc.org/members/DynamicBytes.123456/
```

Where the Spigot page has the 18-digit Discord ID as a status;

```text
012345678910111213 
```

#### Support

If you have not been verified after 2 days, or have issues with any of the steps in the process of verifying, make sure to contact our support team on our [Discord](https://discord.gg/Jq3ecb3).

**Back to:** [**Table of contents**](https://docs.dynamic-bytes.com/table-of-contents)**.**

