# Verifying your purchase
In order for you to verify any purchases, you must follow a few steps.
You must (re)do this for every of our plugins you purchase,
be it EpicWorldGenerator, EpicNetherGenerator, \(EpicEndGenerator once it releases,\) or any combination of these.

### Steps
1. Log into your [SpigotMC](https://www.spigotmc.org "Link to SpigotMC") account.
2. Go to [Discord](https://discord.com/ "Link to our Discord") and copy your Discord ID \(which is not the same as your discord TAG, but rather an 18 digit number\).
> You can find your Discord ID by enabling developer mode \(found under `Settings -> Appearance -> Advanced -> "Developer Mode"`\), 
> right clicking on your name \(on any message in discord\) and clicking "Copy ID".
3. Paste the discord ID in your [Spigot Status](https://www.spigotmc.org/account/ "Link to SpigotMC status") \(at the top\) and hit `enter`.
4. Go to our [Discord](https://discordapp.com/channels/576841187256827905/588109256377499667/ "Link to #verify-purchases") 
(should take you to the [#verify-purchases](https://discordapp.com/channels/576841187256827905/588109256377499667/ "Link to #verify-purchases) channel).
5. Post a message using the following format (copy-pasting this is the easiest):
> Remove the plugins you **did not** purchase.
> Replace yourAccount.yourID with your spigot account name and ID, respectively.
```batch
**Plugin/s:** [EpicWorldGenerator, EpicNetherGenerator or EpicEndGenerator]
**Spigot Profile Page:** https://www.spigotmc.org/members/yourAccount.yourID/
```
6. Wait for a staffmember to verify you as a legitimate buyer. 
> Please allow for 2 days before pinging or DM-ing any staff to verify you.

### Support
If you have not been verified after 2 days, or have issues with any of the steps in the process of verifying, make sure to contact our support team on our [Discord](https://discord.gg/Jq3ecb3 "Link to our Discord").

#### Back to: [Table of contents](table-of-contents.md "Link to table of contents").
