---
description: Guide on verifying your purchase(s)
---

# Verify your purchase

In order for you to verify any purchases, you must follow a few steps. You must \(re\)do this for every of our plugins you purchase at the same time. This applies to EpicWorldGenerator, EpicNetherGenerator, \(EpicEndGenerator once it releases,\) or any combination of these.

### Steps

{% hint style="info" %}
> We have updated our verification system to include a Discord bot to do the majority of the work for us \(we're here to bugfix, at this point\). The old verification is no longer in use.
{% endhint %}

To verify your account, you have to run a command in the [\#verify-purchases](https://discordapp.com/channels/576841187256827905/588109256377499667/) channel on [Discord](https://discordapp.com/channels/576841187256827905/588109256377499667/).   
There you run the `ewg.help` command which will give you a personalized verification guide. The first message in that channel also displays more information.

#### Support

If you have not been verified after 2 days, or have issues with any of the steps in the process of verifying, make sure to contact our support team on our [Discord](https://discord.gg/Jq3ecb3).

**Back to:** [**Table of contents**](https://docs.dynamic-bytes.com/table-of-contents)**.**

